In [3]:
import pandas as pd
df= pd.read_csv('generated/linear_regression_data1.csv')
df

           x         y
0   0.548814  1.515052
1   0.715189  2.880792
2   0.602763  2.438358
3   0.544883  1.321645
4   0.423655  2.591436
..       ...       ...
95  0.183191  1.707180
96  0.586513  1.771321
97  0.020108  0.695440
98  0.828940  2.430114
99  0.004695  1.018131

[100 rows x 2 columns]